@charset "UTF-8";
/*Estilos únicos para a página Afasia*/
div.CartaoArtigo{
    padding:20px 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: inline-block;
    cursor: pointer;
}
h1.Afasia{
    text-align: left;
}
h2.Afasia{
    font-size: 1.1em;
}
div.CartaoArtigo:hover{
    background-color: rgba(0, 0, 0, 0.418);
}
p.TituloArtigo{
    text-indent: 0px;
    margin-top: 10px;
}
img.DocArtigo{
    display: block;
    margin: auto;
}
a.DocArtigo{
    text-decoration: none;
    color: darkblue;
    font-weight: bolder;
}
a.DocArtigo:hover{
    text-decoration: underline;
}