@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body,html{
    width: 100vw;
    height: 100vh;
}

header{
      background-color: #33552C;
      
}
header>h1{
    display: inline-block;
    text-align: center;
}
span#icon{
    display: block;
    color: white;
    margin: auto;
    padding: 20px;
    text-align: center;
}
span#icon:hover{

}
menu> ul>li {
    text-indent: 20px;
    list-style-type: none;
    border-top: 1px solid rgb(255, 255, 255);
}
menu>ul>li> a{
    color: white;
    font-weight: lighter;
    text-decoration: none;
    display: block;
    padding: 10px;
}
menu>ul>li>a:hover{
    background-color: #60A154;
    text-decoration: underline;
}