@charset "UTF-8";
/*Tela pequenas até 600px
Celulares de 600px até 768px
Tablets de 768px até 992px
Desktop de 992px até 1200px
Telas grandes acima de 1200*/

@media screen and (min-width: 768px) and (max-width: 1199px) {
    div.Atalho-container {
        height: 180px;
        columns: 285px 2;
    }
    article{
        width: 78vw;
    }
    section#artigo {
        
        text-indent: 30px;
    }
    div.itens-atalho {
        align-items: center;
    }
    aside {
        background-color: rgb(218, 218, 218);
    }
    aside li {
        width: 280px;
    }

}

@media screen and (min-width: 1200px) {
    article{
        margin: 2px;
        width: 78vw;
    }
    main {
        position: relative;
    }
    
    section#artigo {
        background-color: white;
        padding: 10px;
        display: block;
        margin-left: 40%;
        width: 900px;
        text-indent: 30px;
    }
    section#atalho {
       position: absolute;
        margin: 0px 10px;
        top: 35%;
        left: 40px;
    }
    aside{
        padding: 5px 5px;
        border-radius: 10px;
        margin: auto;
    }
    aside a{
         text-shadow: none;
        
    }
    div.Atalho-container {
        height: 300px;
        columns: 170px 1;
        width: 280px;
        justify-content: center
        
    }
    ul#lista-atalho{
       margin: 0px;
       padding: 0px;
        
    }

    div.itens-atalho li {
        list-style: none;
        padding: 1px 0px;
        margin: 1px 0px;
        text-align: center;
        font-weight: bolder;
        font-size: 1em;
    }

}